<a href="https://colab.research.google.com/github/mark3000-010701/Dataanalyst/blob/main/B%C3%A0i_T%E1%BA%ADp_Thao_t%C3%A1c_d%E1%BB%AF_Li%E1%BB%87u.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[Bài tập] Phân tích dữ liệu House Price – Đống Đa**

# 1. Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2022/01/08185826/house_price_do%CC%82%CC%81ng-da.xlsx')
df.head()

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

,title,address,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,type_of_land,street_name,ward_name,district_name,city_name,lat,long
0,Bán nhà Trần Quang Diệu mới coong đẹp 50m2x6 t...,"Đường Trần Quang Diệu, Phường Trung Liệt, Đốn...",50.0,14700.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,6.0,6.0,Bán nhà riêng\n,Đường Trần Quang Diệu,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.015698,105.824583
1,Bán nhà mặt phố Tây Sơn - 6 tầng. Kinh doanh t...,"Đường Tây Sơn, Phường Trung Liệt, Đống Đa, Hà...",35.0,12500.0,2021-02-19,Sổ đỏ,NaN,NaN,NaN,NaN,6.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.008930,105.824105
2,Bán nhà số 36 Đoàn Kết - phố Khâm Thiên - Đống...,"Số 36 Đoàn Kết, Phố Khâm Thiên, Phường Thổ Qu...",57.0,4200.0,2021-03-10,Sổ đỏ,Nam,Nam,3.0,8.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.025208,105.833111
3,Bán nhà 6 tầng mới kinh doanh mặt ngõ 1194 Đườ...,"Ngõ 1194, Đường Láng, Phường Láng Thượng, Đố...",62.0,11000.0,2021-03-13,Sổ đỏ,Đông,Đông-Nam,6.0,5.0,6.0,Bán nhà riêng\n,Đường Láng Thượng,Phường Láng Thượng,Quận Đống Đa,Thành phố Hà Nội,21.025379,105.801011
4,"Bán nhà mặt phố Thái Hà 70m2, 5 tầng, 4.5m mặt...","Phố Thái Hà, Phường Trung Liệt, Đống Đa, Hà Nội",70.0,36000.0,2021-03-13,Sổ đỏ,NaN,NaN,NaN,6.0,5.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.009239,105.824230

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   address            1000 non-null   object
 2   area               994 non-null    float64
 3   price              944 non-null    float64
 4   postDate           1000 non-null   datetime64[ns]
 5   land_certificate   693 non-null    object
 6   house_direction    44 non-null     object
 7   balcony_direction  24 non-null     object
 8   toilet             551 non-null    float64
 9   bedroom            635 non-null    float64
 10  floor              376 non-null    float64
 11  type_of_land       1000 non-null   object
 12  street_name        808 non-null    object
 13  ward_name          802 non-null    object
 14  district_name      1000 non-null   object
 15  city_name          1000 non-null   object
 16  lat                1000 non-null   float64
 17  long               1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 140.8+ KB

In [ ]:
df.columns

Index(['title', 'address', 'area', 'price', 'postDate', 'land_certificate',
       'house_direction', 'balcony_direction', 'toilet', 'bedroom', 'floor',
       'type_of_land', 'street_name', 'ward_name', 'district_name',
       'city_name', 'lat', 'long'],
      dtype='object')

In [ ]:
df.shape

(1000, 18)

In [ ]:
print('so dong',df.shape[0])
print('so cot',df.shape[1])

so dong 1000
so cot 18

In [ ]:
df.dtypes

title                        object
address                      object
area                        float64
price                       float64
postDate             datetime64[ns]
land_certificate             object
house_direction              object
balcony_direction            object
toilet                      float64
bedroom                     float64
floor                       float64
type_of_land                 object
street_name                  object
ward_name                    object
district_name                object
city_name                    object
lat                         float64
long                        float64
dtype: object

# 2. Lọc ra các bản ghi bán nhà riêng tại phường Trung liệt hoặc phường Khâm Thiên

In [ ]:
df2 = df.loc[df.ward_name == 'Phường Khâm Thiên' ]
df2

,title,address,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,type_of_land,street_name,ward_name,district_name,city_name,lat,long
2,Bán nhà số 36 Đoàn Kết - phố Khâm Thiên - Đống...,"Số 36 Đoàn Kết, Phố Khâm Thiên, Phường Thổ Qu...",57.0,4200.0,2021-03-10,Sổ đỏ,Nam,Nam,3.0,8.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.025208,105.833111
33,"Bán nhà siêu đẹp Khâm Thiên, Đống Đa 66m, 4 tầ...","Phố Chợ Khâm Thiên, Phường Văn Chương, Quận Đố...",256.0,6600.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,4.0,NaN,Bán nhà riêng,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.022491,105.837103
87,"Tập thể tầng 1 phố Khâm Thiên giá 1.7 tỷ, 50m2...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",50.0,1700.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,1.0,NaN,"Tập thể, cư xá",Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
245,Bán nhà đẹp ngõ Khâm Thiên nông thông thoáng 6...,"Phố Khâm Thiên, Đống Đa, Hà Nội",60.0,3600.0,2021-04-06,Sổ đỏ,NaN,NaN,4.0,4.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
256,"Bán nhà ngõ nông thông thoáng 222 Lê Duẩn, 30m...","222, Đường Lê Duẩn, Phường Khâm Thiên, Đống Đa...",30.0,3500.0,2021-04-06,Sổ đỏ,NaN,NaN,4.0,3.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.016722,105.839924
302,"CHÍNH CHỦ CẦN BÁN NHÀ MẶT PHỐ KHÂM THIÊM, ĐỐNG...","Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",60.0,NaN,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
306,Bán chung cư Xã Đàn - Khâm Thiên - Ô chợ Dừa -...,"Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",48.0,700.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,2.0,NaN,Chung cư,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
314,Bán mặt phố Khâm Thiên hơn 21 tỷ 80m2 kinh doa...,"Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",80.0,NaN,2021-01-01,Sổ đỏ,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
371,"Bán nhà đầu ngõ Phố Khâm Thiên giá 2,45 tỷ, 26...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",26.0,2450.0,2021-01-01,Sổ đỏ,NaN,NaN,3.0,2.0,NaN,Bán nhà riêng,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
385,Bán chung cư Khâm Thiên - Xã Đàn - ô chợ Dừa.,"Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",48.0,890.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,2.0,NaN,Chung cư,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
409,"Bán gấp nhà MP Khâm Thiên, Thổ Quan, Đống Đa 9...","Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",95.0,22300.0,2021-04-20,Sổ đỏ,NaN,NaN,4.0,4.0,4.0,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
421,"Nhà đẹp, 03 thoáng, phố Khâm Thiên, diện tích ...","Ngõ Đại Đồng, Phố Khâm Thiên, Phường Khâm Thiê...",23.0,2950.0,2021-04-20,Sổ đỏ,NaN,NaN,3.0,3.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.019454,105.838571
515,"Cần bán gấp nhà ngõ chợ Khâm Thiên giá 2.4 tỷ,...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",30.0,2400.0,2021-01-01,Sổ đỏ,NaN,NaN,3.0,2.0,NaN,Bán nhà riêng,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
563,"Hot, MP Khâm Thiên - Đống Đa 69m2x7t MT4m, giá...","Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",69.0,21500.0,2021-04-26,Sổ đỏ,NaN,NaN,NaN,5.0,7.0,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
566,"Mặt phố Khâm Thiên 7 tầng thang máy, lô góc, 6...","Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",69.0,21800.0,2021-04-26,Sổ đỏ,NaN,NaN,NaN,10.0,7.0,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
631,"Bán nhà tập thể tầng 1 phố Lê Duẩn giá 1.8 tỷ,...","Lê Duẩn, Phường Khâm Thiên, Quận Đống Đa, Hà Nội",45.0,1800.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,1.0,NaN,"Tập thể, cư xá",Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.019922,105.841407
734,"Bán gấp nhà ngõ Thổ Quan, Khâm Thiên giá 1,7 t...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",21.0,1700.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,1.0,NaN,Bán nhà riêng,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
737,"Cần bán nhà ngõ chợ Khâm Thiên giá 1,5 tỷ, 17m...","Phố Chợ Khâm Thiên, Phường Khâm Thiên, Quận Đố...",17.0,1500.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,3.0,NaN,Bán nhà riêng,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.019454,105.838571
738,"Bán gấp nhà Phố Khâm Thiên giá 2.95 tỷ, 36mx4T...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",36.0,2950.0,2021-01-01,Sổ đỏ,NaN,NaN,3.0,2.0,NaN,Bán nhà riêng,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
755,"Nhà đẹp cống trăng Khâm Thiên. DT 45mx4T, giá ...","Phố Khâm Thiên, Phường Ô Chợ Dừa, Đống Đa, H...",45.0,3450.0,2021-05-07,NaN,NaN,NaN,NaN,3.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018916,105.830156
794,"Bán gấp Mặt phố Khâm Thiên giá 22 tỷ, 90mx4 tầ...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",90.0,22000.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,4.0,NaN,Bán nhà mặt phố,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
795,"Bán nhà ôtô đỗ cách 20m mặt ngõ Lê Duẩn, Hồ Ba...","Đường Lê Duẩn, Phường Khâm Thiên, Đống Đa, Hà Nội",35.0,4200.0,2021-05-07,Sổ đỏ,NaN,NaN,4.0,3.0,5.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.019922,105.841407
807,"Bán gấp nhà Phố Khâm Thiên giá 1.2 tỷ, 22m2, M...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",22.0,1200.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,1.0,NaN,Bán nhà riêng,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
843,bán chung cư Phạm Ngọc Thạch- đầy đủ đồ- Ngã T...,"Phạm Ngọc Thạch, Phường Khâm Thiên, Quận Đống ...",34.0,610.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,1.0,NaN,Chung cư,Đường Phạm Ngọc Thạch,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.008615,105.834091
852,"chung cư Xã đàn - Hoàng cầu 550tr/căn ,full đồ","Hoàng Cầu, Phường Khâm Thiên, Quận Đống Đa, Hà...",34.0,590.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,1.0,NaN,Chung cư,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.016489,105.822709
868,"BÁN NHÀ NGÕ 160 KHÂM THIÊN ,LÔ GÓC 3 THOÁNG - ...","Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",30.0,2950.0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
870,Bán nhà mặt phố Khâm Thiên Q. Đống Đa DT 69m2 ...,"Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",69.0,21800.0,2021-05-09,Sổ đỏ,NaN,NaN,10.0,10.0,7.0,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
872,Chỉ 250tr/m2 có ngay nhà mặt phố Khâm Thiên 80...,"Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",86.0,21500.0,2021-05-09,Sổ đỏ,NaN,NaN,NaN,NaN,3.0,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411
950,"chung cư khâm thiên , full nội thất, ở ngay, t...","Khâm Thiên, Phường Khâm Thiên, Quận Đống Đa, H...",35.0,610.0,2021-01-01,Sổ đỏ,NaN,NaN,2.0,2.0,NaN,Chung cư,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.018995,105.838612
973,Mặt phố Khâm Thiên - Lô góc - kinh doanh bất c...,"Phố Khâm Thiên, Phường Khâm Thiên, Đống Đa, Hà...",50.0,14500.0,2021-05-09,NaN,NaN,NaN,NaN,6.0,6.0,Bán nhà mặt phố\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.017288,105.836411

In [ ]:
df1 = df.loc[df.ward_name == 'Phường Trung Liệt']
df1

,title,address,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,type_of_land,street_name,ward_name,district_name,city_name,lat,long
0,Bán nhà Trần Quang Diệu mới coong đẹp 50m2x6 t...,"Đường Trần Quang Diệu, Phường Trung Liệt, Đốn...",50.0,14700.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,6.0,6.0,Bán nhà riêng\n,Đường Trần Quang Diệu,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.015698,105.824583
1,Bán nhà mặt phố Tây Sơn - 6 tầng. Kinh doanh t...,"Đường Tây Sơn, Phường Trung Liệt, Đống Đa, Hà...",35.0,12500.0,2021-02-19,Sổ đỏ,NaN,NaN,NaN,NaN,6.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.008930,105.824105
4,"Bán nhà mặt phố Thái Hà 70m2, 5 tầng, 4.5m mặt...","Phố Thái Hà, Phường Trung Liệt, Đống Đa, Hà Nội",70.0,36000.0,2021-03-13,Sổ đỏ,NaN,NaN,NaN,6.0,5.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.009239,105.824230
19,"Bán gấp Tập thể chùa Bộc giá 2,6 tỷ, DT 110m2,...","Chùa Bộc, Phường Trung Liệt, Quận Đống Đa, Hà Nội",110.0,2600.0,2021-01-01,Sổ đỏ,NaN,NaN,2.0,2.0,NaN,"Tập thể, cư xá",Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.008069,105.827262
23,"Cần bán gấp CH tập thể Phố Chùa Bộc giá 3,45 t...","Chùa Bộc, Phường Trung Liệt, Quận Đống Đa, Hà Nội",120.0,3450.0,2021-01-01,Sổ đỏ,NaN,NaN,1.0,2.0,NaN,"Tập thể, cư xá",Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.008069,105.827262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,"Bán nhà phân lô, ô tô tránh, Thái Hà, Đống Đa ...","Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà Nội",246.0,7500.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,4.0,NaN,Bán nhà riêng,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.012988,105.820012
975,"Bán gấp nhà ngõ Đặng Tiến Đông, Trần Quang Diệ...","Đường Đặng Tiến Đông, Phường Trung Liệt, Đống...",35.0,4500.0,2021-05-09,Sổ đỏ,Tây-Nam,Tây-Nam,NaN,4.0,5.0,Bán nhà riêng\n,Đường Đặng Tiến Đông,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.014549,105.821232
987,"Cực hiếm! Bán nhà mặt phố Chùa Bộc, Đống Đa, k...","Phố Chùa Bộc, Phường Trung Liệt, Đống Đa, Hà Nội",143.0,72000.0,2021-05-09,Sổ đỏ,NaN,NaN,6.0,6.0,5.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.009239,105.824230
988,"Mặt phố kinh doanh sầm uất Nguyẽn Van Tuyét,...","Đường Nguyễn Văn Tuyết, Phường Trung Liệt, Đố...",76.0,30500.0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Đường Nguyễn Văn Tuyết,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.009533,105.820193
996,"Bán nhà 5 tầng đep MP Yên Lãng giá rẻ, DT 60m2...","Đường Yên Lãng, Phường Trung Liệt, Đống Đa, ...",60.0,17500.0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.011495,105.816666

In [ ]:
df3 = pd.merge(df1,df2,on='title')
df3

Empty DataFrame
Columns: [title, address_x, area_x, price_x, postDate_x, land_certificate_x, house_direction_x, balcony_direction_x, toilet_x, bedroom_x, floor_x, type_of_land_x, street_name_x, ward_name_x, district_name_x, city_name_x, lat_x, long_x, address_y, area_y, price_y, postDate_y, land_certificate_y, house_direction_y, balcony_direction_y, toilet_y, bedroom_y, floor_y, type_of_land_y, street_name_y, ward_name_y, district_name_y, city_name_y, lat_y, long_y]
Index: []

[0 rows x 35 columns]

# 3 .Lọc các thông tin Địa chỉ, Giá, Hướng nhà, Hướng ban công của các bản ghi có giấy chứng nhận sổ đỏ và có 3 phòng ngủ trở lên.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   address            1000 non-null   object
 2   area               994 non-null    float64
 3   price              944 non-null    float64
 4   postDate           1000 non-null   datetime64[ns]
 5   land_certificate   693 non-null    object
 6   house_direction    44 non-null     object
 7   balcony_direction  24 non-null     object
 8   toilet             551 non-null    float64
 9   bedroom            635 non-null    float64
 10  floor              376 non-null    float64
 11  type_of_land       1000 non-null   object
 12  street_name        808 non-null    object
 13  ward_name          802 non-null    object
 14  district_name      1000 non-null   object
 15  city_name          1000 non-null   object
 16  lat                1000 non-null   float64
 17  long               1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 140.8+ KB

In [ ]:
df4 = df.loc[:,['address','price','house_direction','balcony_direction','land_certificate','bedroom']]
df4

,address,price,house_direction,balcony_direction,land_certificate,bedroom
0,"Đường Trần Quang Diệu, Phường Trung Liệt, Đốn...",14700.0,NaN,NaN,Sổ đỏ,6.0
1,"Đường Tây Sơn, Phường Trung Liệt, Đống Đa, Hà...",12500.0,NaN,NaN,Sổ đỏ,NaN
2,"Số 36 Đoàn Kết, Phố Khâm Thiên, Phường Thổ Qu...",4200.0,Nam,Nam,Sổ đỏ,8.0
3,"Ngõ 1194, Đường Láng, Phường Láng Thượng, Đố...",11000.0,Đông,Đông-Nam,Sổ đỏ,5.0
4,"Phố Thái Hà, Phường Trung Liệt, Đống Đa, Hà Nội",36000.0,NaN,NaN,Sổ đỏ,6.0
...,...,...,...,...,...,...
995,"Đường Yên Lãng, Phường Láng Hạ, Đống Đa, Hà...",17500.0,NaN,NaN,Sổ đỏ,6.0
996,"Đường Yên Lãng, Phường Trung Liệt, Đống Đa, ...",17500.0,NaN,NaN,NaN,NaN
997,"Phố Xã Đàn, Phường Ô Chợ Dừa, Đống Đa, Hà Nội",24800.0,NaN,NaN,NaN,NaN
998,"Hồ Văn Chương, Phường Văn Chương, Quận Đống Đa...",8100.0,NaN,NaN,Sổ đỏ,3.0
999,"Phố Chùa Bộc, Phường Khương Thượng, Đống Đa, ...",45000.0,NaN,NaN,Sổ đỏ,NaN

In [ ]:
df4=df4.loc[df4.bedroom>3 ]
df4

,address,price,house_direction,balcony_direction,land_certificate,bedroom
0,"Đường Trần Quang Diệu, Phường Trung Liệt, Đốn...",14700.0,NaN,NaN,Sổ đỏ,6.0
2,"Số 36 Đoàn Kết, Phố Khâm Thiên, Phường Thổ Qu...",4200.0,Nam,Nam,Sổ đỏ,8.0
3,"Ngõ 1194, Đường Láng, Phường Láng Thượng, Đố...",11000.0,Đông,Đông-Nam,Sổ đỏ,5.0
4,"Phố Thái Hà, Phường Trung Liệt, Đống Đa, Hà Nội",36000.0,NaN,NaN,Sổ đỏ,6.0
6,"Phố Hoàng Cầu, Phường Láng Hạ, Đống Đa, Hà Nội",13000.0,NaN,NaN,Sổ đỏ,4.0
...,...,...,...,...,...,...
987,"Phố Chùa Bộc, Phường Trung Liệt, Đống Đa, Hà Nội",72000.0,NaN,NaN,Sổ đỏ,6.0
990,"Thịnh Quang, Phường Thịnh Quang, Quận Đống Đa,...",3700.0,NaN,NaN,Sổ đỏ,4.0
991,"Thịnh Quang, Phường Thịnh Quang, Quận Đống Đa,...",4100.0,NaN,NaN,Sổ đỏ,4.0
992,"Phố Chùa Láng, Phường Láng Thượng, Đống Đa, ...",NaN,NaN,NaN,NaN,6.0
995,"Đường Yên Lãng, Phường Láng Hạ, Đống Đa, Hà...",17500.0,NaN,NaN,Sổ đỏ,6.0

In [ ]:
df4=df4.loc[df4.land_certificate=='Sổ đỏ']
df4

,address,price,house_direction,balcony_direction,land_certificate,bedroom
0,"Đường Trần Quang Diệu, Phường Trung Liệt, Đốn...",14700.0,NaN,NaN,Sổ đỏ,6.0
2,"Số 36 Đoàn Kết, Phố Khâm Thiên, Phường Thổ Qu...",4200.0,Nam,Nam,Sổ đỏ,8.0
3,"Ngõ 1194, Đường Láng, Phường Láng Thượng, Đố...",11000.0,Đông,Đông-Nam,Sổ đỏ,5.0
4,"Phố Thái Hà, Phường Trung Liệt, Đống Đa, Hà Nội",36000.0,NaN,NaN,Sổ đỏ,6.0
6,"Phố Hoàng Cầu, Phường Láng Hạ, Đống Đa, Hà Nội",13000.0,NaN,NaN,Sổ đỏ,4.0
...,...,...,...,...,...,...
985,"Ngõ 19/9, Đường Trần Quang Diệu, Phường Ô Chợ...",15800.0,Đông-Nam,Đông-Nam,Sổ đỏ,5.0
987,"Phố Chùa Bộc, Phường Trung Liệt, Đống Đa, Hà Nội",72000.0,NaN,NaN,Sổ đỏ,6.0
990,"Thịnh Quang, Phường Thịnh Quang, Quận Đống Đa,...",3700.0,NaN,NaN,Sổ đỏ,4.0
991,"Thịnh Quang, Phường Thịnh Quang, Quận Đống Đa,...",4100.0,NaN,NaN,Sổ đỏ,4.0
995,"Đường Yên Lãng, Phường Láng Hạ, Đống Đa, Hà...",17500.0,NaN,NaN,Sổ đỏ,6.0

# 4. Với mỗi loại nhà đất, tính trung bình cộng giá cũng như giá lớn nhất và giá nhỏ nhất.

In [ ]:
df5 =df.groupby(['type_of_land'])['price'].mean().reset_index(name='Giá trung bình cộng')
df5

           type_of_land  Giá trung bình cộng
0       Bán nhà mặt phố         38816.227869
1    Bán nhà mặt phố\n          77905.654762
2         Bán nhà riêng          6052.253968
3      Bán nhà riêng\n          10959.577959
4     Bất động sản khác         18492.222222
5  Bất động sản khác\n          23437.000000
6              Chung cư          2011.864407
7        Tập thể, cư xá          2094.637681
8            Đất thổ cư         10585.000000

In [ ]:
df['Giá Trung bình cộng'] = df5['Giá trung bình cộng']
df

,title,address,area,price,postDate,land_certificate,house_direction,balcony_direction,toilet,bedroom,floor,type_of_land,street_name,ward_name,district_name,city_name,lat,long,Giá Trung bình cộng
0,Bán nhà Trần Quang Diệu mới coong đẹp 50m2x6 t...,"Đường Trần Quang Diệu, Phường Trung Liệt, Đốn...",50.0,14700.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,6.0,6.0,Bán nhà riêng\n,Đường Trần Quang Diệu,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.015698,105.824583,38816.227869
1,Bán nhà mặt phố Tây Sơn - 6 tầng. Kinh doanh t...,"Đường Tây Sơn, Phường Trung Liệt, Đống Đa, Hà...",35.0,12500.0,2021-02-19,Sổ đỏ,NaN,NaN,NaN,NaN,6.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.008930,105.824105,77905.654762
2,Bán nhà số 36 Đoàn Kết - phố Khâm Thiên - Đống...,"Số 36 Đoàn Kết, Phố Khâm Thiên, Phường Thổ Qu...",57.0,4200.0,2021-03-10,Sổ đỏ,Nam,Nam,3.0,8.0,4.0,Bán nhà riêng\n,Phố Khâm Thiên,Phường Khâm Thiên,Quận Đống Đa,Thành phố Hà Nội,21.025208,105.833111,6052.253968
3,Bán nhà 6 tầng mới kinh doanh mặt ngõ 1194 Đườ...,"Ngõ 1194, Đường Láng, Phường Láng Thượng, Đố...",62.0,11000.0,2021-03-13,Sổ đỏ,Đông,Đông-Nam,6.0,5.0,6.0,Bán nhà riêng\n,Đường Láng Thượng,Phường Láng Thượng,Quận Đống Đa,Thành phố Hà Nội,21.025379,105.801011,10959.577959
4,"Bán nhà mặt phố Thái Hà 70m2, 5 tầng, 4.5m mặt...","Phố Thái Hà, Phường Trung Liệt, Đống Đa, Hà Nội",70.0,36000.0,2021-03-13,Sổ đỏ,NaN,NaN,NaN,6.0,5.0,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.009239,105.824230,18492.222222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"Bán nhà mặt phố Yên Lãng, Đống Đa, 65m2, 5T, 1...","Đường Yên Lãng, Phường Láng Hạ, Đống Đa, Hà...",65.0,17500.0,2021-05-09,Sổ đỏ,NaN,NaN,NaN,6.0,5.0,Bán nhà mặt phố\n,Đường Yên Lãng,Phường Láng Hạ,Quận Đống Đa,Thành phố Hà Nội,21.011495,105.816666,NaN
996,"Bán nhà 5 tầng đep MP Yên Lãng giá rẻ, DT 60m2...","Đường Yên Lãng, Phường Trung Liệt, Đống Đa, ...",60.0,17500.0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Phố Trung Liệt,Phường Trung Liệt,Quận Đống Đa,Thành phố Hà Nội,21.011495,105.816666,NaN
997,MẶT PHỐ XÃ ĐÀN - KINH DOANH ĐỈNH CAO - 6 TẦNG ...,"Phố Xã Đàn, Phường Ô Chợ Dừa, Đống Đa, Hà Nội",45.0,24800.0,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Bán nhà mặt phố\n,Đường Ô Chợ Dừa,Phường Ô Chợ Dừa,Quận Đống Đa,Thành phố Hà Nội,21.016106,105.832157,NaN
998,"Bán nhà mặt hồ Văn Chương, Đống Đa 33m2, 6 tần...","Hồ Văn Chương, Phường Văn Chương, Quận Đống Đa...",178.0,8100.0,2021-01-01,Sổ đỏ,NaN,NaN,4.0,3.0,NaN,Bán nhà riêng,Đường Hồ Văn Chương,Phường Văn Chương,Quận Đống Đa,Thành phố Hà Nội,21.021345,105.833122,NaN
999,"Bán nhà 5 tầng MP Chùa Bộc hạ giá sốc, tử 58,6...","Phố Chùa Bộc, Phường Khương Thượng, Đống Đa, ...",107.0,45000.0,2021-05-09,Sổ đỏ,NaN,NaN,NaN,NaN,5.0,Bán nhà mặt phố\n,Phố Khương Thượng,Phường Khương Thượng,Quận Đống Đa,Thành phố Hà Nội,21.009123,105.824428,NaN

In [ ]:
df7 =df.groupby(['type_of_land'])['price'].max().reset_index(name='Giá lớn nhất')
df7

           type_of_land  Giá lớn nhất
0       Bán nhà mặt phố      500000.0
1    Bán nhà mặt phố\n      3300000.0
2         Bán nhà riêng       36000.0
3      Bán nhà riêng\n       120000.0
4     Bất động sản khác       32000.0
5  Bất động sản khác\n        52000.0
6              Chung cư       10000.0
7        Tập thể, cư xá        8200.0
8            Đất thổ cư       24500.0

In [ ]:
df['giá max'] = df5['Giá lớn nhất']
df

In [ ]:
df6 =df.groupby(['type_of_land'])['price'].min().reset_index(name='Giá nhỏ nhất')
df6

In [ ]:
df5['Giá max'] = df7['Giá lớn nhất']
df5['Giá Min'] = df6['Giá nhỏ nhất']
df5

In [ ]:
df.columns

# 5. Tính trung bình cộng số phòng ngủ, số phòng vệ sinh, số tầng của mỗi phường.

In [ ]:
dt = df.groupby(['ward_name'])['bedroom','toilet','floor'].mean()
dt

# **[Bài tập] Phân tích dữ liệu Online Retail**

# 1. Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.

In [45]:
import pandas as pd
import numpy as np

In [34]:
data = pd.read_csv('https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31011319/OnlineRetail.csv',encoding='ISO-8859-1')
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [35]:
data.info()
data.shape[0]
data.shape[1]
data.columns
data.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

# 2. Tạo cột mới có tên quý –  ‘Previous’ nhận giá trị 1 nếu ngày lập hóa đơn nằm trong các tháng 1,2,3; nhận giá trị 2 nếu ngày lập hóa đơn nằm trong các tháng 4,5,6; nhận giá trị 3 nếu ngày lập hóa đơn nằm trong các tháng 7,8,9;  nhận giá trị 4 nếu ngày lập hóa đơn nằm trong các tháng 10,11,12;

In [36]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [37]:
data['Month']=pd.to_datetime(data['InvoiceDate'],format='%Y-%d-%m %H:%M:%S').dt.month
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,12
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,12
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,12
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,12

In [ ]:
data['Day']=pd.to_datetime(data['InvoiceDate'],format='%Y-%d-%m %H:%M:%S').dt.day
data['Month']=pd.to_datetime(data['InvoiceDate'],format='%Y-%d-%m %H:%M:%S').dt.month
data['Year']=pd.to_datetime(data['InvoiceDate'],format='%Y-%d-%m %H:%M:%S').dt.year
data['Hour']=pd.to_datetime(data['InvoiceDate'],format='%Y-%d-%m %H:%M:%S').dt.hour
data['Minute']=pd.to_datetime(data['InvoiceDate'],format='%Y-%d-%m %H:%M:%S').dt.minute
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Day,Month,Year,Hour,Minute
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,1,12,2010,8,26
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8,26
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,1,12,2010,8,26
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8,26
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,1,12,2010,8,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,9,12,2011,12,50
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,9,12,2011,12,50
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,9,12,2011,12,50
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,9,12,2011,12,50
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,9,12,2011,12,50

In [38]:
data['InvoiceDate']

0        2010-12-01 08:26:00
1        2010-12-01 08:26:00
2        2010-12-01 08:26:00
3        2010-12-01 08:26:00
4        2010-12-01 08:26:00
                 ...
541904   2011-12-09 12:50:00
541905   2011-12-09 12:50:00
541906   2011-12-09 12:50:00
541907   2011-12-09 12:50:00
541908   2011-12-09 12:50:00
Name: InvoiceDate, Length: 541909, dtype: datetime64[ns]

In [32]:
data.isnull().any()

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [42]:
data['Month'].isnull().any()

False

In [43]:
data['Month'].dtypes

dtype('int64')

In [44]:
type(data['Month'])

pandas.core.series.Series

In [61]:
conditions = [(data['Month'] >=1) & (data['Month'] <=3),(data['Month'] >=4) & (data['Month'] <=6),(data['Month'] >=7) & (data['Month'] <=9)]
choices = [1,2,3]
data['Previous'] = np.select(conditions,choices,default=4)
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Previous,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,4,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12,4,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,12,4,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12,4,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,12,4,14.85

# 3.Tạo một cột mới có tên ‘Amount’ có giá trị bằng Quantity * UnitPrice

In [62]:
data['Amount'] = data['Quantity']*data['UnitPrice']
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Previous,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,4,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12,4,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,12,4,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12,4,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,12,4,14.85

# 4. Tạo cột mới ‘Discount’ nhận giá trị 10% nếu Country là ‘United Kingdom’ và thuộc quý 4,       5% nếu là ‘France’ ngược lại là 0%.

In [ ]:
dk = [(data.Country=='United Kingdom' & (data['Month'] >=10 & (data['Month'] <=12))),(data.Country=='France')]
choices = ['10%','5%']
data['Discount'] = np.select(dk,choices,default='0%')
data

In [69]:
data1 = data[(data['Country']=='United Kingdom') &((data1['Month'] >=10) & (data1['Month']<=12))]
data1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Previous,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,4,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12,4,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
...,...,...,...,...,...,...,...,...,...,...,...
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,12,4,23.40
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,12,4,23.60
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,12,4,30.00
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,12,4,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,12,4,70.80

In [66]:
data1 = data1[(data1['Month'] >=10) & (data1['Month']<=12)]
data1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Previous,Amount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,4,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12,4,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34
...,...,...,...,...,...,...,...,...,...,...,...
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,12,4,23.40
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,12,4,23.60
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,12,4,30.00
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,12,4,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,12,4,70.80

In [ ]:
data2 = data[data['Country']=='France']
data2

In [72]:
dk = [((data['Country']=='United Kingdom') &((data1['Month'] >=10) & (data1['Month']<=12))),(data['Country']=='France')]
choices = [0.1,0.05]
data['Discount'] = np.select(dk,choices,default=0)
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Previous,Amount,Discount
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,4,15.30,0.10
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34,0.10
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12,4,22.00,0.10
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34,0.10
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34,0.10
...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,12,4,10.20,0.05
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12,4,12.60,0.05
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60,0.05
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60,0.05
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,12,4,14.85,0.05

# 5. Tạo cột mới ‘Total’ nhận giá trị bằng: Amount – Discount.

In [73]:
data['Total'] = data['Amount']-data['Discount']*data['Amount']
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Month,Previous,Amount,Discount,Total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,12,4,15.30,0.10,13.7700
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34,0.10,18.3060
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,12,4,22.00,0.10,19.8000
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34,0.10,18.3060
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,12,4,20.34,0.10,18.3060
...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,12,4,10.20,0.05,9.6900
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12,4,12.60,0.05,11.9700
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60,0.05,15.7700
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,12,4,16.60,0.05,15.7700
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,12,4,14.85,0.05,14.1075